<!DOCTYPE html>
<html lang="en">
  <img src="/assets/divider_wave.png" alt="Section Divider" style="width: 100%; margin: 3rem 0;" />
  <img src="./assets/retro-tech-banner.png" alt="Retro Tech" style="width: 100%; margin: 2rem 0; border-radius: 12px; box-shadow: 0 0 20px rgba(0,0,0,0.3);" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/dark.css">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
